@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.header{
    background: rgba(45, 30, 60, 0.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header-container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 7.5fr auto 1fr;
    padding: 1rem 2rem;
    align-items: center;
    position: relative;
}

.logo-img {
    height: 95px;
    grid-column: 2;
    justify-self: start;
    object-fit: contain;
    margin-left: 10rem;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.logo-img:hover{
    transform: scale(1.15);
    filter: brightness(1.2);
}

.nav-links{
    grid-column: 3;
    position: relative;
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem ;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}
